/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

html {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 80vh;
}

h1 {
    color: white;
}

#type-of-message {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

form {
    border-radius: 8px;
    width: 500px;
    height: 80px;
    background-color: white;
    margin: 0 auto;
    font-style: italic;
}

button {
    margin-top: 20px;
    background-color: #134d71;
    color: white;
    border-radius: 5px;
    border-style: hidden;
    width: 117.97px;
    height: 17.5px;
}

#favorite-button-container {
    display: flex;
}

input[type="radio"] {
   margin-top: 15px;
}

#choice1 {
    margin-right: 100px;
}

#messageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 810px;
    height: 150px;
    border-radius: 8px;
    background-color: white;
}

img
{
    border-radius: 8px;
    padding: 5px;
    width: 800px;
    height: 120px;
    background-color: white;
}

.hidden {
    display: none;
}

 

